* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
}

h2 {
  text-align: center;
}

label {
  font-family: 'Helvetica Neue', sans-serif;
}


/* ----- Image styling ----- */
img.logo {
  width: 300px;
}

.imgBox {
  position: relative;
  float: left;
}

.imgBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imgBox:hover .hoverImg {
  display: block;
}

img.hero-image {
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

/* --- Side navigation --- */

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 0px 0px 20px 0px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-align: center;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #c9e265;
}

/* Style page content */
.sidenav-margin {
  margin-left: 300px;
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Image gallery styles */
div.gallery {
  margin: 5px;
  padding: 5px 5px 5px 5px;
  border: 3px solid black;
  float: left;
  min-width: 300px;
  width: 30%;
}

div.gallery:hover {
  border: 3px solid #c9e265;
  background-color: #c9e265;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* --- Custom divisions--- */
div.page {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.reading {
  max-width: 700px;
  padding: 5px 5px;
  margin-left: auto;
  margin-right: auto;
}

/* --- Custom styling --- */

.italicize {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* --- Contact form --- */

/* Styling text input */
input[type=text], select, textarea {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 12px;
  border: 3px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Styling the submit button */
input[type=submit] {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit button hover effects */
input[type=submit]:hover {
  background-color: #474747;
}

/* Adding a container around the form */
.container {
  border-radius: 5px;
  border: 3px solid black;
  padding: 20px;
}

/* --- Footer --- */
.footer {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  height: 50px;
  overflow: hidden;
  clear: left;
  font-family: 'Helvetica Neue', sans-serif;
  color: darkgrey;
  text-align: center;
  bottom: 0px;
  left: 250px;
  right: 0px;
  margin-bottom: 0px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
