* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
}

h2 {
  text-align: center;
}

label {
  font-family: 'Helvetica Neue', sans-serif;
}


/* ----- Style the header section ----- */
.header {
  text-align: left;
  padding: 0px;
}

.header p.name {
  font-family: Rockwell, serif;
  font-size: 32px;
  color: #000000;
  padding-top: 70px;
}

.header p.tagline {
  font-family: Rockwell, serif;
  font-size: 20px;
  padding: 0px;
}

img.logo {
  float: left;
  width: 250px;
}

img.hero-image {
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}


/* ----- Navigation ----- */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #EAE7DC;
  overflow: hidden;
  clear: left;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D8C3A5;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
}


/* Create two unequal columns that float next to each other for the title section */
.header-section {
  float: left;
  padding: 0px;
}

.header-section.left {
  width: 240px;
}

.header-section.right {
  max-width: 600px;
}

/* Image gallery styles */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  min-width: 300px;
  width: 30%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* --- Custom sections --- */
section.about-me {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

/* --- Contact form --- */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #474747;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the footer */
.footer {
  background-color: #000;
  overflow: hidden;
  clear: left;
  font-family: 'Helvetica Neue', sans-serif;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
